.env/
.venv/
__pycache__/
*.pyc
*.pyo
*.DS_Store
*.sqlite*
*.sqlite3
*.log
.mypy_cache/
.pytest_cache/
.ruff_cache/
*.coverage
coverage.xml
reports/
*.aux
*.out
*.synctex.gz
*.toc
*.bbl
*.blg
*.pdf
dist/
build/
*.egg-info/
data/
eval/notebooks/.ipynb_checkpoints/
