.env/
.venv/
__pycache__/
*.pyc
*.pyo
*.DS_Store
*.sqlite
*.sqlite3
*.log
.mypy_cache/
.pytest_cache/
.ruff_cache/
coverage.xml
dist/
build/
*.egg-info/
data/
{{DATA_DIR}}/
eval/notebooks/.ipynb_checkpoints/
